.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.title {
  text-shadow: 5px -2px 0px var(--secondary-color);
  font-family: 'NotoSansTC Bold';
  font-size: 65px;
  color: var(--dark-color);
  margin-bottom: 20px;
}

@media(max-width: 500px) {
  .wrapper {
    padding: 20px;
  }
}